# msoxx.template
# Template for non-channel records from devTektronix_MSO58LP.db

record(bo, "$(P):SIM")
{
    field(SCAN, "Passive")
    field(DTYP, "Soft Channel")
    field(ZNAM, "NO")
    field(ONAM, "YES")
    field(FLNK, "$(P):IDN")
}

record(bo, "$(P):DISABLE") 
{
    field(DESC, "Disable comms")
    field(PINI, "YES")
    field(VAL, "0")
    field(OMSL, "supervisory")
    field(ZNAM, "COMMS ENABLED")
    field(ONAM, "COMMS DISABLED")
}

record(stringin,"$(P):IDN")
{
    field(DESC, "SCPI identification string")
    field(DTYP, "stream")
    field(INP,  "@devTektronix_MSO58LP.proto getIDN(39) $(PORT)")
    field(PINI, "YES")
    field(SIML, "$(P):SIM")
    field(SIOL, "$(P):SIM:IDN")
    field(SDIS, "$(P):DISABLE")
}

# The following two records generate values for the x-axis

record(aSub,"$(P):ASUB") 
{
    field(SCAN, "5 second")
    field(SNAM, "incrementor")
    field(FTA,  "DOUBLE")
    field(INPA, "$(P):XINC_CH1")
    field(OUTA, "$(P):OUT")
    field(FTVA, "DOUBLE")
    field(NOVA, $(NELM))
    field(NEVA, $(NELM))
    field(FLNK, "$(P):XDATA")
}

record(waveform, "$(P):XDATA")
{
    field(INP, "$(P):ASUB.VALA")
    field(DTYP, "Soft Channel")
    field(NELM, $(NELM))
    field(FTVL, "DOUBLE")
}

### SIMULATION RECORDS ###

record(stringin, "$(P):SIM:IDN")
{
    field(SCAN, "Passive")
    field(DTYP, "Soft Channel")
    field(VAL, "Tektronix Simulated IDN String")
}

record(waveform,"$(P):SIM:XDATA")
{
    field(NELM, $(NELM))
    field(FTVL, "LONG")

}