# msoxx.template
# Template for non-channel records from devTektronix_MSO58LP.db
record(bo, "$(P):Refresh")
{
    field(DESC, "Manual refresh of all channels")
    field(PINI, "NO")
    field(ZNAM, "Idle")
    field(ONAM, "Refresh")
    field(VAL, "0")
    field(HIGH, "1")
    field(FLNK, "$(P):refreshEvent_")
    field(DOL, "1")     # force 1 on processing
    field(OMSL, "supervisory")
    field(OUT, "$(P):Refresh.PROC")  # write to self for momentary behavior
}
record(event, "$(P):refreshEvent_")
{
    field(DESC, "Refresh event")
    field(SCAN, "Passive")
    field(VAL,"$(P):refreshEvent_")
    field(PINI,"YES")
    
}

record(bo, "$(P):DISABLE") 
{
    field(DESC, "Disable comms")
    field(PINI, "YES")
    field(VAL, "0")
    field(OMSL, "supervisory")
    field(ZNAM, "COMMS ENABLED")
    field(ONAM, "COMMS DISABLED")
}

# record(stringin,"$(P):IDN")
# {
#     field(DESC, "SCPI identification string")
#     field(DTYP, "stream")
#     field(INP,  "@devTektronix_MSO58LP.proto getIDN(39) $(PORT)")
#     field(PINI, "YES")
#     field(SIML, "$(P):SIM")
#     field(SIOL, "$(P):SIM:IDN")
#     field(SDIS, "$(P):DISABLE")
# }
record(stringin,"$(P):IDN")
{
    field(DESC, "SCPI identification string")
    field(DTYP, "stream")
    field(INP,  "@devTektronix_MSO58LP.proto readIDNParts($(P):Vendor,$(P):Model,$(P):Serial,$(P):CF,$(P):Firmware) $(PORT)")
    field(PINI, "YES")
    field(SCAN, "Event")
    field(EVNT, "$(P):refreshEvent_")
    
}

record(stringin, "$(P):Vendor") {
}
record(stringin, "$(P):Model") {
}
record(stringin, "$(P):Serial") {
    
}
record(stringin, "$(P):CF") {
    
}
record(stringin, "$(P):Firmware") {
}

# The following two records generate values for the x-
